/* .App{
    background-image: url("../src/background.jpg");
} */
.loginname{
    color: white;
    font-weight: bolder;
}
.time
{
    font-weight: bold;
}
.write{
    width: 300px;
    text-align: center;
    border-radius: 3%;
    outline: none;
}
.add{
    margin-left: 5px;
    border-radius: 10%;
    background-color: transparent;
}
.delete{
    border:none;
    background-color: transparent;
}
.Listform{
    text-align: center;
}
.mylist{
    margin-top: 30px;
}
.line{
    width: 900px;
    border: 1px solid gray;
}
.door{
    text-align: center;
}
.mylist{
    margin-right: 50px;
    line-height: 200%;
}
.clear{
    margin-top: 15px;
    margin-right: 50px;
    border-radius: 10%;
    background-color: transparent;
}
.checked{
    text-decoration: line-through;
}
.calender{
    width: 500px;
    text-align: center;
    margin-left:550px;
}
.todolist{
    background-image: url("../src/background.jpg");
}